<head>
  <link rel="stylesheet" type="text/css" href="home.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img
        src="./img/inhaLogo.png"
        alt="INHA UNIVERSITY"
      /></div>
    <span class="logo-text">Enrolment</span>
  </div>

  <div class="header-info">
    <span class="header-info_title">Information on transitional measures related to 2021 curriculum reform (<span
        class="header-info_title_strong"
      >required for student numbers prior to 2020</span>) -> View details</span>
  </div>
</div>

<div class="content">
<div class="side">
  <div class="side-frame">
    <form id="loginform" method="post" action="/">
      <div class="loginform-input">
        <div class="loginform-input_id">
          <label for="id" class="label-text">Id</label>
          <input
            class="loingform-input_id_input"
            name="id"
            type="text"
            required
          />
        </div>
        <div style="margin-top:8px;" class="loginform-input_pwd">
          <label for="password" class="label-text">Password</label>
          <input
            class="loginform-input_pwd_input"
            name="password"
            type="password"
            required
          />
        </div>
        <div style="margin-top:8px">
          <span class="loginform-input_forget">Find ID/Password</span>
        </div>
      </div>
      <div class="loginform-btnDiv">
        <button class="loginform-btnDiv_btn" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="side-menu">
      <div class="side-menu_list">
        <span>Course information</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>Lecture diagnosis</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>Enrolment</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>Grade confirmation</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>Seasonal semester</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>Subject inquiry</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>Reference Link</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>privacy policy</span>
        <span class="material-icons">add</span>
      </div>

    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <span class="main-top_title">Main course registration schedule for the 2nd semester of 2023</span>
      <div class="main-top_table">
        <table>
          <tr style="background-color: #0770bb;">
            <td class="main-top_table_head_first">Date</td>
            <td class="main-top_table_head_second">detail</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2023. 7. 22 (Fri) 10:00 ~ 7. 26 (Tue) 16:00</td>
            <td class="main-top_table_body_second">Priority course registration date</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2023. 8. 10 (Wed) 10:00 ~ 16:00</td>
            <td class="main-top_table_body_second">Major, required course registration (possible to take courses in engineering and software convergence colleges, no retakes, limited number of students per grade)</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2023. 8. 11 (Thursday) 10:00 ~ 16:00</td>
            <td class="main-top_table_body_second">Major, required course registration (can take courses at colleges and universities except engineering and software convergence colleges; restrictions are the same as above)</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2023. 8. 17 (Wed) 10:00 ~ 13:00</td>
            <td class="main-top_table_body_second">General course registration (re-enrollment is not allowed, number of students limited by grade)</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2023. 8. 17 (Wed) 14:00 ~ 16:00</td>
            <td class="main-top_table_body_second">General course registration (re-enrollment possible, no limit on number of students by grade)</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">August 29, 2023 (Monday)</td>
            <td class="main-top_table_body_second">2023-2nd semester begins</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2023. 9. 2 (Fri) 08:30 ~ 19:00</td>
            <td class="main-top_table_body_second">Course registration change date</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2023. 9. 26 (Mon) 09:00 ~ 9. 28 (Wed) 24:00</td>
            <td class="main-top_table_body_second">Course withdrawal period</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="main-bottom">
      <span class="main-bottom_title">Notice regarding course registration</span>
      <div class="main-bottom_table">
        <table>
          <tr style="background-color: #0770bb;">
            <td class="main-bottom_table_head_first">number</td>
            <td class="main-bottom_table_head_second">attach</td>
            <td class="main-bottom_table_head_third">title</td>
            <td class="main-bottom_table_head_fourth">Registration date</td>
            <td class="main-bottom_table_head_fifth">Writer</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3150</td>
            <td class="main-bottom_table_body_second"><span class="material-symbols-outlined">
description
</span></td>
            <td class="main-bottom_table_body_third">[Undergraduate] Notice on allowing pop-ups when registering for courses</td>
            <td class="main-bottom_table_body_fourth">2020-01-20</td>
            <td class="main-bottom_table_body_fifth">Administrator</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3061</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">[Undergraduate] Information on restrictions on taking classes between professors’ children</td>
            <td class="main-bottom_table_body_fourth">2019-07-22</td>
            <td class="main-bottom_table_body_fifth">Administrator</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">2926</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">Notice on changes to additional 3 credits conditions for course registration (applies from 2018-1st semester course registration)</td>
            <td class="main-bottom_table_body_fourth">2018-07-25</td>
            <td class="main-bottom_table_body_fifth">Administrator</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3318</td>
            <td class="main-bottom_table_body_second"><span class="material-symbols-outlined">
description
</span></td>
            <td class="main-bottom_table_body_third">[For undergraduate students] Notice on implementation of 2021 statutory compulsory education (online education)</td>
            <td class="main-bottom_table_body_fourth">2021-01-13</td>
            <td class="main-bottom_table_body_fifth">Gender Equality Counseling Center</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3023</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">
Information on course credits (21 credits) for new students in the College of Engineering and College of Natural Sciences (applicable from freshmen in 2019</td>
            <td class="main-bottom_table_body_fourth">2019-02-19</td>
            <td class="main-bottom_table_body_fifth">Administrator</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3586</td>
            <td class="main-bottom_table_body_second"><span class="material-symbols-outlined">
description
</span></td>
            <td class="main-bottom_table_body_third">
[Frontier College] Information on transitional measures following the reorganization of the liberal arts curriculum for the 2021 school year (basic liberal arts/core liberal arts)</td>
            <td class="main-bottom_table_body_fourth">2022-07-26</td>
            <td class="main-bottom_table_body_fifth">Frontier Undergraduate University Administration</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3616</td>
            <td class="main-bottom_table_body_second"><span class="material-symbols-outlined">
description
</span></td>
            <td class="main-bottom_table_body_third">[Undergraduate] Information on 2nd canceled courses for the 2nd semester of the 2022 academic year</td>
            <td class="main-bottom_table_body_fourth">2022-09-05</td>
            <td class="main-bottom_table_body_fifth">Administrator</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3615</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">[Future Automotive Business Group] Notice on changes to Object-Oriented Programming (FVE3010-001) classroom</td>
            <td class="main-bottom_table_body_fourth">2022-08-31</td>
            <td class="main-bottom_table_body_fifth">Future Automobile Business Division</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3614</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">[Department of Business Administration] BUS3204-005 Human Resource Management Timetable Change Notice</td>
            <td class="main-bottom_table_body_fourth">2022-08-26</td>
            <td class="main-bottom_table_body_fifth">Business Administration</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3613</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">[English Education Department] Notice on classroom changes for the 2nd semester of 2022</td>
            <td class="main-bottom_table_body_fourth">2022-08-26</td>
            <td class="main-bottom_table_body_fifth">English Education Department</td>
          </tr>
    </div>
  </div>
</div>
