<h1>Insert Student</h1>
<form name="student" method="post" action="/">
    <div>
        <label for="id">Id</label>
        <input id="id" name="id" type="text" required placeholder="Id" />
    </div>
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required placeholder="Name" />
    </div>
    <div>
        <label for="email">E-mail</label>
        <input id="email" name="email" type="text" placeholder="email" />
    </div>
    <div>
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" type="text" 
        required placeholder="000-0000-0000" />
    </div>
    <div>
        <label for="major">Major</label>
        <input id="major" name="major" type="text" required placeholder="major" />
    </div>
    <div>
        <input type="submit" value="insert" />
    </div>
</form>

